section#featured-images {
	.inner {
		display: flex;
		justify-content: space-between;
		
		picture {
			display: block;
			aspect-ratio: 1 / 1;
			flex: 1;
			overflow: hidden;
			img {
				display: block;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		
	}
}