section#our-process {
	background-color: var(--bg-medium);
	padding: 125px 0;
	
	.inner {
		display: flex;
		justify-content: space-between;
		gap: 100px;
		
		picture {
			display: block;
			width: 100%;
			max-width: 600px;
			height: auto;
			flex-grow: 0;
			
			img {
				display: block;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		
		.our-process-content {
			flex: 1;
			display: flex;
			align-items: center;
			.intro {
				*:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}