section#testimonial-carousel {
	padding: 97px 0 95px;

	.inner {
		.intro {
			text-align: center;
			max-width: 800px;
			margin: 0 auto 30px;

			.quote {
				margin-bottom: 30px;
			}
		}
	}

	.carousel-outer {
		position: relative;

		.carousel-wrapper {
			padding: 0 100px;

			.testimonial {
				text-align: center;
				display: flex;
				justify-content: center;

				.testimonial-inner {
					max-width: 900px;

					.testimonial-content {
						p {
							color: var(--text-dark);
							font-size: 22px;
							line-height: 37.4px;
						}
					}

					.client {
						font-size: 24px;
						line-height: 1.5;
						font-family: var(--font-heading);
						letter-spacing: 0.5px;
						color: var(--text-dark);
						margin: 42px 0 0;
					}
				}
			}
		}

		.carousel-arrows {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			pointer-events: none;

			.arrow {
				position: relative;
				width: 50px;
				height: 50px;
				border-radius: 25px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				pointer-events: all;

				&:hover {
					background-color: var(--bg-medium);
				}
			}
		}
	}
}
