/* Containers
-------------------------------------------------------------- */
.container-large {
	width: 100%;
	max-width: 1640px;
	padding: 0 100px;
	margin: 0 auto;
}

/* Buttons
-------------------------------------------------------------- */
.btn {
	padding: 15px 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: var(--font-heading);
	letter-spacing: 0.5px;
	transition: all 0.5s cubic-bezier(0.17, 0.66, 0.34, 0.98);
	line-height: 1;
	width: max-content;

	&-primary {
		background-color: var(--accent-orange);
		color: var(--text-lite);

		&:hover {
			background-color: var(--text-dark);
		}
	}

	&-secondary {
		background-color: transparent;
		color: var(--text-dark);
		border: 2px solid var(--text-dark);

		&:hover {
			background-color: var(--text-dark);
			color: var(--text-lite);
		}
	}
}

/* CTA's
-------------------------------------------------------------- */
.learn-more {
	font-family: var(--font-heading);
	letter-spacing: 0.5px;
	transition: all 0.5s cubic-bezier(0.17, 0.66, 0.34, 0.98);
}