/* CSS Variables
-------------------------------------------------------------- */
:root {
	
	// Fonts
	--font-heading: "Bebas Neue", sans-serif;
	--font-body: "Roboto", sans-serif;
	
	// Background Colors
	--bg-white: #ffffff;
	--bg-lite: #faf5ed;
	--bg-medium: #f4eee4;
	--bg-dark: #1c0c04;
	
	// Text Colors
	--text-dark: #31271e;
	--text-medium: #736a68;
	--text-lite: #ffffff;
	
	// Accent colors
	--accent-orange: #eaae50;
	--accent-dark-gray: #cdc6bc;	
	--accent-white: #ffffff;
	
}